# Ne les changez que si vous voulez changé le port du serveur !
	endpoint_add_tcp "0.0.0.0:30120"
	endpoint_add_udp "0.0.0.0:30120"
	
	set mysql_connection_string "server=localhost;database=essentialmode;userid=MONUSERS;password=MONMDP"

# Ces ressources commenceront par défaut.
	ensure mapmanager
	ensure chat
	ensure spawnmanager
	ensure sessionmanager
	ensure fivem
	ensure hardcap
	ensure rconlog

	set es_enableCustomData 1

# Définissez ceci sur 0 pour interdire le hook de script.
	sv_scriptHookAllowed 1

# License key for your server (https://keymaster.fivem.net)
	#rcon_password MonMotDePasseRCon

	sv_hostname "NOM DU SERVEUR - ESX - MON GitHub : github.com/Cuffcas"

# Loading a server icon (96x96 PNG file)
# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
	#sets banner_detail "https://i.imgur.com/0S89Ygh.png"
	#sets banner_connecting "https://i.imgur.com/0S89Ygh.png"

# loading a server icon (96x96 PNG file)

	load_server_icon logo.png

	set temp_convar "ESX"

	set onesync_enabled 0
	sv_maxclients 10

# désactiver l'annonce? effacer le maître en décommentant cette
	#sv_master1 ""

# voulez autoriser uniquement les lecteurs authentifiés avec un fournisseur tiers comme Steam?
	sv_authMaxVariance 1
	sv_authMinTrust 1

# ajouter des administrateurs système
	add_ace resource.essentialmode command.sets allow
    add_ace resource.essentialmode command.add_principal allow
    add_ace resource.essentialmode command.add_ace allow
	add_ace group.admin command allow # allow all commands
	add_ace group.admin command.quit deny # but don't allow quit
	add_principal identifier.steam:STEAMID group.admin 

# masquer les noeuds finaux du lecteur dans la sortie du journal externe
	sv_endpointprivacy true

# MYSQL ASYNC
    ensure mysql-async

# ES Base

	ensure essentialmode
	ensure esplugin_mysql
	ensure es_admin2

# ES Extended

	ensure es_extended

#### ESX REQUIRED MODS
    ensure instance
    ensure cron
    ensure skinchanger
    ensure esx_skin
    ensure esx_menu_default
    ensure esx_menu_list
    ensure esx_menu_dialog
    ensure esx_phone
    ensure esx_addonaccount
    ensure esx_addoninventory
    ensure esx_datastore
    ensure esx_society
    ensure esx_service
    ensure esx_billing
    ensure esx_identity

#### ESX JOBS
    ensure esx_jobs
    ensure esx_joblisting
    ensure esx_taxijob
    ensure esx_mechanicjob
    ensure esx_policejob
    ensure esx_property
    ensure esx_realestateagentjob
    ensure esx_bankerjob
    ensure esx_ambulancejob
    ensure esx_vehicleshop

#### ESX ANY OTHER MODS
    ensure esx_status
    ensure esx_basicneeds
    ensure esx_clotheshop
    ensure esx_garage
    ensure esx_holdup
    ensure esx_drugs
    ensure esx_atm
    ensure esx_lscustom
    ensure esx_accessories
    ensure esx_barbershop
    ensure esx_dmvschool
    ensure esx_sit
    #ensure esx_whitelist


	set steam_webApiKey "data" # Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
	set sv_licenseKey "data" # License key for your server (https://keymaster.fivem.net)